<html lang="tr"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog - Samet İrkören </title>
       <!-- Google fonts -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap">
      <!-- Font Awesome -->
      <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.13.0/css/pro.min.css">
      <!-- Favicon -->
      <link rel="shortcut icon" type="image/png" href="./assets/images/favicon.png">
      <!--build:css assets/css/styles.min.css-->
      <link rel="stylesheet" href="/css/elegant.css">
      <link rel="stylesheet" href="/css/custom_bootstrap.css">
      <link rel="stylesheet" href="/css/slick.css">
      <link rel="stylesheet" href="/css/plyr.min.css">
      <!-- cutom css -->
      <link rel="stylesheet" href="/css/style.css">
      <!--endbuild-->

    <meta name="description" content="Samet İrkören - .Net Bilgileri" />
    <meta name="keywords" content=".Net Core,.Net Framework 4.5,.Net Temelleri,Ado.Net,Algoritma,Angular,Asp.Net Web API,AWS,Azure,C#,Client Application Services,Data Structures, Algorithms,Entity Framework,GoLang,LINQ,Node.js,NoSQL,Python,React,REST,T SQL,Tasarım Kalıpları(Design Patterns),Tasarım Prensipleri(Design Principles),Visual Studio,Vue.js" />
    <meta name="author" content="Samet İrkören" />

      @RenderSection("Css", false)
  </head>
  <body>
    <!-- pre loader -->
       <div id="load">
    <div class="load__content">
      <div class="load__icon"><img src="/images/load.gif" alt="Loading icon"/></div>
    </div>
  </div>
    <!--Nav bar -->
    <header class="theme-default scroll-down">
        <div id="search-box" style="display: none;">
          <div class="container">
            <form asp-action="Index" asp-controller="Home" method="GET">
              <input type="text" placeholder="Herhangi bir şey ara..." name="s">
              <button><i class="fas fa-arrow-right"></i></button>
            </form>
          </div>
        </div>
        <div class="container">
          <div class="header-wrapper">
            <a class="header__logo"><img src="/images/computer.png" style="max-height:3.5625em;" alt="Logo"></a>
            <nav>
              <ul>
                <li class="nav-item active"><a href="https://blog.sametirkoren.com.tr">AnaSayfa</a></li>
                <li class="nav-item"><a target="_blank" href="https://sametirkoren.com.tr">CV</a>
                  <!-- Blog Nav category drop down uncomment if you want a drop down-->
                  <!-- <ul class="dropdown-menu">
                    <li><a href="#">BLOG CATEGORY 1</a></li>
                    <li><a href="#">BLOG CATEGORY 2</a></li>
                    <li><a href="#">BLOG CATEGORY 3</a></li>
                  </ul> -->
                </li>
            
              </ul>
            </nav>
            <!-- Social Icons -->
            <div class="header__icon-group"><a  id="search"><i class="fas fa-search"></i></a>
              <div class="social">
                <a href="https://www.instagram.com/sametirkoren"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/sametirkoren	"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/sametirkoren	"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://medium.com/sametirkoren"><i class="fab fa-medium"></i></a>
                <a href="https://open.spotify.com/user/fl51cozxywmd4w75zbstwv1n3"><i class="fab fa-spotify"></i></a>    
                <a id="mobile-menu-controller"><i class="fas fa-bars"></i></a>
              </div>
            </div>
          </div>
        </div>
      </header>
  
      <!-- main content starts here -->
      <div class="no-pd" id="content">
          <div class="container">
               
            <div  style="margin-top : 5.5rem" class="category">
              <div class="row">
                <div class="col-12 col-md-5 col-lg-4 order-md-2">
                  <div class="blog-sidebar">
                    <div class="blog-sidebar-section -category">
                      <div class="center-line-title"> 
                      <h5>Kategoriler</h5>
                      </div>
                          @await Component.InvokeAsync("CategoryList")
                       
                    </div>
                    <div class="blog-sidebar-section -trending-post">
                      <div class="center-line-title"> 
                        <h5>Son Yazılanlar</h5>
                      </div>               
                        @await Component.InvokeAsync("LastFiveBlog")             
                    </div>            
                  </div>
                </div>
                
                <div class="col-12 col-md-7 col-lg-8 order-md-1">
                  
                  <div class="category_content -list"><div class="row">
                      
                    <!-- Render Blog-->
                    @RenderBody()
      

        </div></div>
                   
                </div>
              </div>
            </div>
        </div>
              <!-- Footer starts Here -->
  <footer>
      <div class="container">
        <div class="footer-content">
          <!--<div class="row">
            <div class="col-12 col-md-12 col-lg-12">
              <div class="footer-col -about">
                <div class="center-line-title">
                  <h5>About us</h5>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida lacus vel facilisis. </p>
                <div class="contact-method">
                  <p> <i class="fas fa-map-marker-alt"></i>Dar es Saalam,Tanzania</p>
                  <p> <i class="far fa-mobile-android"></i>+255 123456   |   +255 123456789</p>
                  <p> <i class="far fa-envelope-open"></i>hello@fuse.com</p>
                </div>
              </div>
            </div>-->
   
       
          </div>
        </div>
        <div class="copyright">
          <p>© 2020, Samet İrkören - Tüm Hakları Saklıdır.</p>
        </div>
      </div>
    </footer>
    
    
        <!--js files are in assets/js-->
        <script rel="script/javascript" src="/js/jquery.min.js"></script>
        <script rel="script/javascript" src="/js/slick.min.js"></script>
         <script rel="script/javascript" src="/js/plyr.min.js"></script>
        <script rel="script/javascript" src="/js/masonry.pkgd.min.js"></script>
        <script rel="script/javascript" src="/js/imagesloaded.pkgd.min.js"></script>
        <script rel="script/javascript" src="/js/vimeo.player.min.js"></script>
        <script rel="script/javascript" src="/js/main.js"></script>
        <!--end of js files-->

    </div>
    
    @RenderSection("JavaScript" , false)
    
    </body>
    
    </html>