@model List<BlogListModel>


        @foreach (var item in Model)
        {
               <div class="trending-post">
                                  <div class="trending-post_image">
                                  
                                          <!--Img size is 100 x 100 -->
                                     <getblogimage id="@item.Id"></getblogimage>
                                  </div>
                                  <div class="trending-post_content">
                                    <!-- Category Header -->
                                    <h5>Samet İrkören</h5>
                                        <a href="post.html">@item.Title</a>
                                    <div class="info__time"><i class="far fa-clock"></i>
                                      <p>@item.PostedTime.ToLongDateString()</p>
                                    </div>
                                  </div>
                                </div>
        }
 

