 @model CategoryListModel

 <div class="category__header" style="margin-left : 1rem">
                    <div class="category__header__text">

                     <h5>Kategori : </h5><a asp-action="Index" style="float:right;">@Model.Name</a>

                    </div>
                    <div class="category__header__filter">
                        </div>
                  </div>


    