@model List<CategoryWithBlogsCountModel>


<div class="card my-4">
    <h5 class="card-header">Categories</h5>
    @foreach (var category in Model)
    {
        <div class="list-group">
            <a class="list-group-item d-flex list-group-item-action justify-content-between align-items-center">
                @category.CategoryName
                <span class="badge badge-primary badge-pill">@category.BlogsCount</span>
            </a>
    
    </div>
    }
   
</div>