@model List<CategoryWithBlogsCountModel>

    @foreach (var category in Model)
    {
          <a class="category -bar"  asp-action="Index" asp-route-categoryId="@category.CategoryId">                    
            <div class="category__background" style="background-image: url(/images/category-a.png)"></div>
            <h5 class="title">@category.CategoryName</h5>
            <h5 class="quantity">@category.BlogsCount</h5>        
          </a>
    }
   

   








                 